.booking {
    text-transform: uppercase;
    padding: 2.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;

    &__wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        position: relative;
        min-height: 18rem;
        width: 25rem;

        &_btn {
            
            &-minus {
                top: 4.2rem;
                right: 55%;
            }

            &-plus {
                top: 4.2rem;
                left: 55%;
            }
        }
    }
}

.sub {
    font-size: 1.4rem;
    display: inline-block;
    text-align: right;
    letter-spacing: .7rem;
    opacity: 0.5;
    position: absolute;
    transform: rotate(-90deg) translate(-100%, 0);
    transform-origin: left top;
    top: -.3rem;
    left: 0;
}

.type {
    padding-left: 2.5rem;
    font-weight: 800;
    font-size: 2.3rem;
    letter-spacing: .4rem;
    line-height: 1;
}

.total {
    margin-top: 1rem;
    font-size: 1rem;
    text-align: center;
    letter-spacing: .5rem;
    opacity: 0.75;
}


@media (max-width: 999px) {
    .type {
        font-size: 25px;
        letter-spacing: 1px;
        padding-left: 25px;
    }
    .booking {
        text-transform: uppercase;
        padding: 0 10px 0 10px;
    }
    .sub {
        font-size: 15px;
        letter-spacing: 4px;
    }
}

@media (max-width: 786px) {
    .booking {
        flex-direction: column;
        padding: 0 10px 25px 10px;
        &__item {
            min-height: 0px;
            &_btn {
            
                &-minus {
                    top: 50%;
                    right: 20%;
                }
    
                &-plus {
                    top: 50%;
                    left: 90%;
                }
            }
        }
    }
    .sub {
        font-size: 18px;
        position: relative;
        transform: none;
        letter-spacing: 8px;
        &:not(:last-child) {
            margin-top: 30px;
        }
        
    }

    .type {
        padding-left: 10px;
        font-size: 30px;
        letter-spacing: 4px;
    }
    .total {
        margin-top: 10px;
        text-align: start;
    }
}
@media (max-width: 576px) {
    .booking {
        &__item {
            &_btn {
            
                &-minus {
                    right: 35%;
                }
    
                &-plus {
                    left: 72%;
                }
            }
        }
        
    }
    .sub {
        font-size: 15px;
        position: relative;
        transform: none;
        letter-spacing: 4px;
        &:not(:last-child) {
            margin-top: 25px;
        }
        
    }

    .type {
        padding-left: 8px;
        letter-spacing: 3px;
    }
}