.btn {
    font-size: 35px;
    font-weight: 800;
    line-height: 0.8;
    text-transform: uppercase;

    span {
        font-weight: 800;
        background-color: $green;
        padding: 17px 57px 17px 17px;
        display: inline-block;
        margin-left: 19px;
        position: relative;
        border-radius: 4px;
        transition: all .4s;

        &:hover {
            box-shadow: 0 0 10px $green;
        }

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            left: -10px;
            top: 50%;
            background-color: #fff;
        }

        &::after {
            content: '';
            position: absolute;
            width: 25px;
            height: 21px;
            background-image: url('../icons/arrow_right.svg');
            right: 17px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.btn_booking {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    position: absolute;
    z-index: 2;
    cursor: pointer;

    &:visited, &:focus {
        outline: none;
    }
}
.minus {

    &::before {
        content: '';
        width: 20px;
        height: 3px;
        background-color: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &:hover::before {
        box-shadow: 0 0 4px 2px $green;
    }
    
}

.plus {

    &::before {
        content: '';
        width: 20px;
        height: 3px;
        background-color: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &::after {
        content: '';
        height: 20px;
        width: 3px;
        background-color: $green;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &:hover::before {
        box-shadow: 0 0 5px 2px $green;
    }

    &:hover::after {
        box-shadow: 0 0 5px 2px $green;
    }

}

@media (max-width: 1024px) {
    .btn {    
        span {
            &:hover {
                box-shadow: none;
            }
        }
    }
    .plus {
        &:hover::before {
            box-shadow: none;
        }
    
        &:hover::after {
            box-shadow: none;
        }
    }
    .minus {
        &:hover::before {
            box-shadow: none;
        } 
    }
}

@media (max-width: 800px) {
    .btn {
        font-size: 27px;
    }
    .btn span {
        padding: 12px 48px 12px 12px;
        margin-left: 12px;
    }
    .btn span::after {
        right: 13px;
    }
    
}