.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;

    &__title {
        margin: 0;
        max-width: 500px;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 0.8;
        font-size: 200px;
        opacity: 0.07;
        text-align: left;
    }

    &__aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 168px;
        height: 100vh;
        border-right: 1px solid rgba(255, 255, 255, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 30px;

        &_logo {
            width: 100%;
        }

        &_logo img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_item {
            transition: all 0.5s;

            &:not(:first-child) {
                margin-top: 25px;
            }

            &:hover {
                .header__menu_img {
                    transform: translateY(-2px); 
                }
                .header__menu_descr {
                    transform: translateY(2px); 
                }         
            }
        }

        &_descr {
            font-size: 12px;
            font-weight: 400;
            text-align: center;
            margin-top: 3px;
        }
    }
    &__logo-burger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date {
        font-size: 16px;
        font-weight: 300;
        line-height: 1;
        letter-spacing: 1.4px;

        &-day {
            font-size: 72px;
            font-weight: 800;
        }
    }

    &__location {
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1.05px;
        position: relative;
        padding-left: 19px;
        margin-top: 20px;

        &::before {
            content: '';
            height: 14px;
            width: 11px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url('../icons/map_marker_icon.svg');
        }
    }

}

@media (max-width: 1440px) {
    .header {
        &__title {
            font-size: 150px;
        }
        &__aside {
            width: 120px;
            padding-bottom: 20px;
        }
        &__date-day {
            font-size: 45px;
        }
        &__menu_item:not(:first-child) {
            margin-top: 17px;
        }
    }
}

@media (max-width: 1280px) {
    .header {
        &__title {
            font-size: 120px;
        }
        &__aside {
            width: 100px;
        }
        &__date-day {
            font-size: 32px;
        }
        &__menu_item:not(:first-child) {
            margin-top: 12px;
        }
    }
}
@media (max-width: 1024px) {
    .header {
        &__menu {
            display: none;
            &_item img {
                display: none;
            }
        }
        &__aside {
            width: 80px;
        }
        &__date {
            font-size: 14px;
            letter-spacing: 1.2px;
            &-day {
                font-size: 27px;
            }
        }
        &__location {
            margin-top: 14px;
    
            &::before {
                left: 4px;
            }
        }
    }
}
@media (max-width: 800px) {
    .header {
        &__title {
            font-size: 105px;
        }
        
        
    }
    
}
@media (max-width: 640px) {
    .header {
        &__title {
            font-size: 75px;
        }
    }
}