.header {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    text-align: center;
    height: 100%;

    &__title {
        margin: 0;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 0.8;
        font-size: 10rem;
        opacity: 0.07;
        text-align: left;
    }

    &__aside {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        width: 8rem;
        height: 100%;
        border-right: .1rem solid rgba(255, 255, 255, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 2rem;

        &_logo {
            width: 100%;
        }

        &_logo img {
            width: 100%;
        }
    }
    &__menu {
        display: flex;
        flex-direction: column;
        align-items: center;

        &_img,
        &_descr {
            transition: all 0.3s;
        }
        &_item {
            &:not(:first-child) {
                margin-top: 1.5rem;
            }

            &:hover {
                .header__menu_img {
                    transform: translateY(2px); 
                }
                .header__menu_descr {
                    text-shadow: 0 0 1rem white;
                }         
            }
        }
        &_img {
            width: 3.5rem;
            height: auto;
        }
        &_descr {
            font-size: 1.1rem;
            font-weight: 400;
            text-align: center;
            margin-top: .2rem;
        }
    }
    &__logo-burger {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date {
        font-size: 1.2rem;
        font-weight: 300;
        line-height: 1;
        letter-spacing: .1rem;
        margin-top: 1rem;

        &-day {
            font-size: 3rem;
            font-weight: 800;
        }
    }

    &__location {
        font-size: 1.1rem;
        font-weight: 300;
        letter-spacing: 1.05px;
        position: relative;
        padding-left: 1.3rem;
        margin-top: 1rem;

        &::before {
            content: '';
            height: 1.1rem;
            width: .85rem;
            position: absolute;
            left: 0;
            top: 0;
            background: url('../icons/map_marker_icon.svg') center center / contain no-repeat;
        }
    }

}

@media (max-width: 999px) {
    .header {
        &__menu {
            display: none;
            &_item img {
                display: none;
            }
        }
        &__aside {
            width: 6rem;
        }
        &__location {
            letter-spacing: 1px;
            &::before {
                left: 4px;
            }
        }
        &__date {
            &-day {
                font-size: 2.8rem;
            }
        }
    }
}
@media (max-width: 786px) {
    .header {
        &__title {
            font-size: 7rem;
        }
        
        
    }
    
}
@media (max-width: 576px) {
    .header {
        &__title {
            font-size: 5.5rem;
        }
    }
}