.kite {
    margin-top: 10px;
    padding: 80px;
    min-height: 100vh;
    background-color: #171919;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    

    &::after {
        content: '';
        width: 350px;
        height: 237px;
        position: absolute;
        top: 20px;
        right: -50px;
        background-image: url('../icons/shaka.png');
        transform: rotate(-20deg);
        opacity: 0.1;

    }

    &__booking {
        margin: 50px auto 60px auto;
    }

    &__btn {
        text-align: center;
    }
}