.kite {
    margin-top: 10px;
    padding: 80px;
    min-height: 100vh;
    background-color: #171919;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    

    &::after {
        content: '';
        width: 400px;
        height: 271px;
        position: absolute;
        top: 0;
        right: -50px;
        background-image: url('../icons/shaka_icon.svg');
        transform: rotate(-20deg);

    }

    
}