.main {
    position: relative;

    &__map {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        &_animation {
            stroke-dashoffset: 600;
            stroke-dasharray: 600;
            animation: animdash 5s 4s;
            animation-fill-mode: forwards;
        }

        & svg {
            width: 40rem;
            height: 20rem;

            & text {
                font-size: 2rem;
            }
        }
    }
    @keyframes animdash {
        to {
            stroke-dashoffset: 0;
        }
    }

    &__arrows {
        position: absolute;
        left: 14rem;
        bottom: 2rem;
        z-index: 3;

        a {
            &:hover {
                animation-play-state: paused;
            }
        }

        img {
            width: 1.8rem;
            height: auto;
        }
    }
}
.main__slider {
    height: 100vh;
    position: relative;

    & img {
        width: 2.1rem;
        height: auto;
    }

    &_primary {
        height: 100%;
        position: relative;

        &-item1 {
            background: url('../img/slider_surf.png') center center/cover no-repeat ;
        }
        &-item2 {
            background: url('../img/slider_kite.png') center center/cover no-repeat ;
        }
        &-item3 {
            background: url('../img/slider_sup.png') center center/cover no-repeat ;
        }
        &-item4 {
            background: url('../img/slider_shop.png') center center/cover no-repeat ;
        }
    }

    &_arrows {
        position: absolute;
        top: 3rem;
        cursor: pointer;
        z-index: 3;
        transition: all .3s;

        

        &-right {
            right: 4rem;

            &:hover {
                transform: translateX(.2rem);
            }
        }

        &-left {
            right: 7rem; 

            &:hover {
                transform: translateX(-.2rem);
            }
        }
    }

    &_dots {
        position: absolute;
        right: 4rem;
        bottom: 2rem;
        z-index: 2;
        max-width: 71rem;
        display: flex;
        justify-content: space-between;
    }

    &_dot {
        width: 13rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: .5rem;
        border-top: .35rem solid #fff;
        cursor: pointer;
        

        &-number {
            font-size: 1.9rem;
            font-weight: 800;
            transition: all .3s;
        }

        &-name {
            font-size: 1.3rem;
            font-weight: 300;
            transition: all .3s;
        }



        &:hover {
            .main__slider_dot-number,
            .main__slider_dot-name {
                text-shadow: 0 0 1rem white;
            }
            
        }

        &:not(:last-child) {
            margin-right: 2.5rem;
        }        
    }
    &_dot.dot-active {
        border-top: .35rem solid $green;
    }

}
.slider-item {
    height: 100%;
    position: relative;

    &__info {
        position: absolute;
        right: 4rem;
        bottom: 8rem;
        text-transform: uppercase;
        text-align: right;
        margin-left: 1.5rem;

        &_subtitle {
            margin-bottom: 1.5rem;
        }

        &_descr {
            margin-bottom: .5rem;
        }

        &_title {
            margin-bottom: 2rem;
            margin-top: .4rem;
        }
    }
}


@media (max-width: 999px) {
    .main__slider {
        &_dot {
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background-color: #fff;
            border-top: none;

            &:hover {
                .main__slider_dot-number,
                .main__slider_dot-name {
                    text-shadow: none;
                }
            }

            &:not(:last-child) {
                margin-right: 18px;
            }

            &-number {
                display: none;
            }    

            &-name {
                display: none;
            }
        }
        &_arrows {
            display: none;
        }
        
    }

    body.nav-active .main__arrows,
    body.nav-active .main__slider_arrows,
    body.nav-active .main__map,
    body.nav-active .main__slider_dots {
        display: none;
    }
    body.nav-active {
        overflow: hidden;
    }
}
@media(max-width: 800px) {
    .main {
        // &__map svg {
        //     width: 500px;
        //     height: 250px;
        // }
        &__slider {
            
            
            &_dots {
                right: 20px;
                
            }
            &_arrows {
                &-right {
                    right: 20px;
                }
                &-left {
                    right: 65px;
                }
            }
        }
        &__arrows {
            left: 120px;
        }
    }
    .slider-item {
        &__info {
            right: 20px;
            bottom: 80px;
        }
    }
    
}
@media(max-width: 576px) {
    .main {
        &__map svg {
            display: none;
        }
        &__arrows{
            display: none;
        }
    }
}