.slider {
    
    &__wrapper { 
        position: relative;
        top: -3rem;
    }

    &__item {
        height: 100%;
        width: 100%;
           
        &-inner {
            position: relative; 
            width: 100%;
        }
        
        &-img {
            position: relative; 
            top: 0;
            left: 0;
            width: 100%;

            & img {
                width: 80%; 
            }
        }
        
        &-content {
            position: absolute;
            font-size: 1.5rem;
            right: 0;
            bottom: 20%;
            max-width: 40%;
            line-height: 1.5;
            background-color: rgba(#171919, 0.3); 
            border-radius: 1rem;
            padding: 1rem 0 1rem 1rem;
            min-height: 12rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &-info {
        position: absolute;
        top: 2rem;
        right: 0;
        text-align: right;
        z-index: 2;
    }

    &__subtext {
        margin-bottom: .6rem;
    }

    &__arrows {
        position: absolute;
        top: 9rem;
        cursor: pointer;
        z-index: 3;
        width: 2.1rem;
        height: auto;
        transition: all .3s;

        &-next {
            right: 0;
            &:hover {
                transform: translateX(.2rem);
            }
        }

        &-prev {
            right: 4rem;
            &:hover {
                transform: translateX(-.2rem);
            }
        }

        &-shop {
            top: 0;
        }
    }

    &__down {
        position: absolute;
        width: 100%;
        left: 2.5rem;
        bottom: 1rem;
        z-index: 2;
    }

    &_dots {
        display: none;
    }
    &_dot {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
    }
    &_dot:not(:last-child) {
        margin-right: 23px;
    }

    
}


@media (max-width: 999px) {
    .slider {
        &__arrows {
            display: none;
        } 

        &__wrapper {
            min-height: 0;
        }

        &__item {
            
            &-content {
                position: relative;
                font-size: 18px;
                line-height: 1.4;
                max-width: 100%;
                margin-bottom: 15px;
                padding: 1rem 0;
            }
            
            &-img img {
                width: 100%; 
            }
        }
        &-info {
            top: 0;
            
        }
        &__down {
            margin-top: -40px;
            left: 40px;
            position: relative;
        }
        &_dots {
            display: flex;
            justify-content: flex-end;
        }
    }
}
// @media (max-width: 786px) {
//     .slider {
        
//         &__item {
//             &-content {
//                 font-size: 16px;
//             }
//         }
//     }
// }
@media (max-width: 576px) {
    .slider {
        &__wrapper {
            top: 0;
            
        }
        
        &-info {
            top: -20px; 
        }
        
        &__item {
            &-content {
                font-size: 16px;
            }
        }
        &__down {
            margin-top: -25px;
            left: 20px;
        }
    }
    section .subtext {
        letter-spacing: 2px;
        margin-bottom: 3px;
    }
    section .subtext_left::before {
        width: 70px;
        top: 35%;
    }
    section .subtext_left {
        padding-left: 83px;
    }
    section .titleH3 {
        font-size: 22px;
    }
}