.subheader {
    
    &__title {
        position: relative;
        text-transform: uppercase;
        z-index: 2;

        &_titleH2 {
            position: absolute;
            top: -2.3rem;
            left: 0;
        }
        
        &_shadow {
            margin-left: -7rem;
            margin-top: 1.5rem;
        }
    }
} 

.above_line {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 6.1rem;
        height: .1rem;
        background-color: $green;
    }
}


@media (max-width: 999px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -5rem;
            }
        }
    }
} 



@media (max-width: 576px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -2rem;
            }
        }
    }
    .shop .shadow {
        font-size: 60px;
    }
} 
