.subheader {
    
    &__title {
        position: relative;
        text-transform: uppercase;

        &_titleH2 {
            position: absolute;
            top: -30px;
            left: 125px;
        }
        
        &_shadow {
            margin-left: -45px;
            margin-top: 20px;
        }
    }
}