.subheader {
    
    &__title {
        position: relative;
        text-transform: uppercase;

        &_titleH2 {
            position: absolute;
            top: -30px;
            left: 0;
        }
        
        &_shadow {
            margin-left: -7%;
            margin-top: 20px;
        }
    }
} 

@media (max-width: 1280px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -6%;
            }
        }
    }
} 

@media (max-width: 1024px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -12%;
            }
        }
    }
} 

// @media (max-width: 800px) {
//     .subheader {
//         &__title {
//             &_shadow {
//                 margin-left: -16%;
//             }
//         }
//     }
// } 

@media (max-width: 640px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -10%;
            }
        }
    }
} 

@media (max-width: 486px) {
    .subheader {
        &__title {
            &_shadow {
                margin-left: -12%;
            }
        }
    }
}