.sup {
    padding: 80px;
    min-height: 100vh;
    background-color: #171919;
    position: relative;
    overflow: hidden;
    

    &::after {
        content: '';
        width: 300px;
        height: 297px;
        position: absolute;
        top: 50px;
        right: 45px;
        background-image: url('../img/maori_gibiskus_bg.png');
        transform: rotate(45deg);
        opacity: 0.02;

    }

    &::before {
        content: '';
        width: 740px;
        height: 350px;
        position: absolute;
        bottom: 20px;
        right: 0;
        opacity: 0.3;
        background-image: url('../img/sup_paddle.png');
        
    }

    &__booking {
        margin: 50px auto 60px auto;
    }

    &__btn {
        text-align: center;
    }

    &__carousel {
        &-item1 {
            background: url('../img/sup1.png') top left / auto no-repeat;
        }

        &-item2 {
            background: url('../img/sup3.png') top left / auto no-repeat;
        }

        &-item3 {
            background: url('../img/sup2.png') top left / auto no-repeat;
        }

        &-item4 {
            background: url('../img/sup4.png') top left / auto no-repeat;
        }
    }
}