.sup {
    padding: 5rem;
    padding-top: 4rem;
    min-height: 100vh;
    background-color: #171919;
    position: relative;
    overflow: hidden;
    

    &::after {
        content: '';
        width: 20rem;
        height: 20rem;
        position: absolute;
        top: 3rem;
        right: 0;
        background: url('../img/maori_gibiskus_bg.png') center center / contain no-repeat ;
        transform: rotate(45deg);
        opacity: 0.02;

    }

    &::before {
        content: '';
        width: 50rem;
        height: 25rem;
        position: absolute;
        bottom: 2rem;
        right: 0;
        opacity: 0.3;
        background: url('../img/sup_paddle.png') center center / contain no-repeat;        
    }
}


@media (max-width: 999px) {
    .sup {
        padding: 3rem;
        &::after {
            width: 190px;
            height: 188px;
            top: 20px;
            right: 5px;
        }

    }
}

@media (max-width: 786px) {
    .sup {
        &::before {
            width: 600px;
            height: 284px;
        }
    }
}

@media (max-width: 576px) {
    .sup {
        padding: 20px;
        padding-top: 50px;
        &::after {
            width: 150px;
            height: 149px;
        }
        &::before {
            width: 464px;
            height: 219px;
        }
    }
}

@media (max-width: 486px) {
    .sup {
        
        padding-top: 40px;
            
        &::before {
            width: 315px;
            height: 149px;
        }
    }
}