.surf {
    padding: 5rem;
    padding-top: 4rem;
    min-height: 100vh;
    background-color: #171919;
    position: relative;
    overflow:hidden;

        &::after {
            content: '';
            height: 20rem;
            width: 8rem;
            position: absolute;
            top: 5rem;
            right: 0;
            background: url('../icons/map_poi_icon.svg') center center / contain no-repeat;
        }
    
        &::before {
            content: '';
            width: 39rem;
            height: 39rem;
            position: absolute;
            bottom: 0;
            right: 5%;
            opacity: 0.2;
            background: url('../img/surf_fins.png') center center / contain no-repeat;
        }
    
    &__carousel {

        &__wrapper {
            &::before {
                content: '12°07\'02.8\"N 109°11\'46.1\"E'; 
                transform: rotate(-90deg);
                transform-origin: left top;
                position: absolute;
                left: -1.8rem;
                bottom: 9rem;
                opacity: 0.1;
                font-size: 1.2rem;
                letter-spacing: .6rem;
                white-space: nowrap;
            }
            
        }
    }
    
}

@media (max-width: 999px) {
    .surf {
        padding: 3rem;
        &__carousel {

            &__wrapper {
                &::before {
                    bottom: 40%;
                    font-size: 16px;
                    letter-spacing: 6px;
                }
                
            }
        }
    }
}

@media (max-width: 786px) {
    .surf {
        &__carousel {

            &__wrapper {
                &::before {
                    left: -20px;
                    bottom: 40%;
                    font-size: 14px;
                    letter-spacing: 6px;
                }
                
            }
        }
        
    }
}

@media (max-width: 576px) {
    .surf {
        padding: 20px;
        padding-top: 50px;
        &::after {
            height: 140px;
            width: 60px;
            top: 50px;
        }
        &::before {
            width: 33rem;
            height: 33rem;
        }

        
        &__carousel {
            &__wrapper {
                &::before {
                    left: -13px;
                    bottom: 45%;
                    font-size: 12px;
                    letter-spacing: 3px;
                }  
            }
        }
    }
}

@media (max-width: 486px) {
    .surf {
        padding-top: 40px;
        &::after {
            height: 105px;
            width: 45px;
            top: 40px;
        }
        &::before {
            width: 28rem;
            height: 28rem;
        }
        
    }
}