.shop {
    padding: 5rem;
    padding-top: 4rem;
    min-height: 100vh;
    background-color: #171919;
    position: relative;
    overflow: hidden;
    background-image: url('../img/workshop_bg.png');
    background-size: contain;
    background-position: bottom right;
    background-repeat: no-repeat;
    text-transform: uppercase;

    &::after {
        content: '';
        position: absolute;
        height: 20rem;
        width: 19rem;
        top: 1rem;
        right: 3rem;
        background: url('../img/maori_turtle_bg.png') center center / contain no-repeat;
        transform: rotate(-45deg);
        opacity: 0.02;
    }

    &__info {
        &-price {
            font-size: 2.4rem;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: .15rem;
        }
        &-stars {
            margin-top: 3rem;
            margin-bottom: 0.6rem;
        }
        &-btn {
            margin-top: 8rem;
        }
        &-gift {
            display: none;
            opacity: .5;
            margin-top: .8rem;
            letter-spacing: .1rem;
        }
    }

    &__carousel {

        &-item {
            display: flex;
            justify-content: space-between;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            margin-top: 5rem;
            
        }

        &-content {
            min-width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        &-extras {
            min-width: 40%;
        }

        &-board {
            position: relative;

            & > img {
                max-width: 30rem;
                height: auto;
            }
        }
    }

    &__extras img {
        display: block;
        margin: 0 auto;
    }

    &__extras {
        
        &-title {
            text-align: center;
            font-size: 2rem;
            font-weight: 800;
            margin-bottom: 1rem;
        }
        &-inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
        &-descr {
            margin-top: 2rem;
            font-size: 1.4rem;
            text-align: center;
            letter-spacing: .6rem;
            opacity: 0.5;
        }
        &:not(:first-child) {
            margin-top: 2rem;
        }
    }
}

.board {
    &__tab {
        position: absolute;
        min-width: 26rem;       

        &-middle {
            top: 50%;
            left: 91%;
        }

        &-top {
            top: 14%;
            left: 18%;
        }

        &-bottom {
            bottom: 12%;
            left: 17%;
        }

        &-circle {
            height: 1.6rem;
            width: 1.6rem;
            border-radius: 50%;
            background-color: $green;
            position: relative;
            cursor: pointer;
            box-shadow: 0 0 .5rem $green;
        }

        &-descr {
            font-size: 1.5rem;
            letter-spacing: .05rem;
            font-weight: 800;
            position: absolute;
            top: -1rem;
            left: 10%;
            display: none;
        }

        &-descr.subtext_right {
            left: 2rem;
            background-color: rgba(23, 25, 25, 0.3);
            border-radius: .5rem;
            padding: .5rem;
        }
        &-descr.subtext_right::after {
            display: none;
        }
    }

}

.circle {
    &__minus {
        width: 1rem;
        height: .15rem;
        background-color: #fff;
        position: absolute;
        top: .7rem;
        left: .3rem;
    }
    &__plus {
        width: .15rem;
        height: 1rem;
        background-color: #fff;
        position: absolute;
        top: .3rem;
        left: .74rem;
    }
    
}
.board__tab.active .circle__plus {
    display: none;
}
.board__tab.active .board__tab-descr {
    display: block;
}


@media (max-width: 999px) {
    .shop {
        min-height: 0;
        padding: 3rem;
        &::after {
            width: 197px;
            height: 228px;
            top: 0;
        }
        &__content {
            &-extras {
                display: none;
            }
            &-board img{
                width: 100%;
            }
                
        }
        &__info {
            &-gift {
                display: block;
            }
        }
        &__carousel {
            &-content {
                min-width: 0;
                max-width: 50%;
            }
        }
    }
    .shop .slider_dots {
        margin-top: 1rem;
    }
    .board {
        &__tab {    
            &-bottom {
                bottom: 9%;
            }
    
            &-descr.subtext_right {
                left: -45%;
            }
            &-circle {
                height: 2.2rem;
                width: 2.2rem;
            }
            &-middle {
                top: 45%;
                left: 86%;
            }
        }
        
    }
    .circle {
        &__minus {
            width: 1.4rem;
            height: .2rem;
            top: 1rem;
            left: .4rem;
        }
        &__plus {
            width: .2rem;
            height: 1.4rem;
            top: .4rem;
            left: 1rem;
        }
        
    }
}

@media (max-width: 786px) {
    .shop__info-price {
        font-size: 27px;
    }
    .board {
        &__tab { 
            &-top .board,
            &-bottom .board {
                &__tab {    
                    
                    &-descr.subtext_right {
                        left: 10%;
                    }
                }
            }
            
        }
    }

}

@media (max-width: 576px) {
    .shop {
        padding: 20px;
        padding-top: 50px;
        &::after {
            width: 154px;
            height: 180px;
        }
        &__carousel {
            &-item {
                flex-direction: column;
            }
            &-info {
                margin-top: 20px;
            }
            &-content {
                margin: 20px auto 0 auto;
                max-width: 90%;
            }
        }
        &__info {
            &-stars {
                margin-top: 20px;
            }
            &-price {
                font-size: 25px;
            }
            &-btn {
                margin-top: 30px;
            }
            &-gift {
                font-size: 14px;
            }
        }
    }
   
}
@media (max-width: 486px) {
    .shop {
        padding-top: 40px;
    }
}


