.shop {
    padding: 80px;
    min-height: 100vh;
    background-color: #171919;
    position: relative;
    overflow: hidden;
    background-image: url('../img/workshop_bg.png');
    background-position: bottom right;
    background-repeat: no-repeat;
    text-transform: uppercase;

    &::after {
        content: '';
        height: 319px;
        width: 264px;
        position: absolute;
        top: 40px;
        right: 45px;
        background-image: url('../img/maori_turtle_bg.png');
        transform: rotate(-45deg);
        opacity: 0.02;
    }

    &__info {
        &-price {
            font-weight: 800;
            font-size: 32px;
        }
        &-stars {
            margin-top: 50px;
            margin-left: -15px;
        }
        &-btn {
            margin-top: 100px;
        }
    }

    &__carousel {

        &-item {
            display: flex;
            justify-content: space-between;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        &-content {
            min-width: 65%;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    &__content {
        &-extras {
            min-width: 40%;
        }

        &-board {
            position: relative;
        }
    }

    &__extras img {
        display: block;
        margin: 0 auto;
    }

    &__extras {
        
        &-title {
            font-size: 28px;
            font-weight: 800;
        }
        &-inner {
            margin-top: 25px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        &-descr {
            margin-top: 36px;
            font-size: 18px;
            text-align: center;
            letter-spacing: 8px;
            opacity: 0.5;
        }
    }
}

.board {
    &__tab {
        position: absolute;
        min-width: 360px;

        &-middle {
            top: 50%;
            left: 91%;
        }

        &-top {
            top: 14%;
            left: 74%;
        }
        &-top.long {
            left: 78%;
        }

        &-bottom {
            bottom: 12%;
            left: 17%;
        }

        &-circle {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $green;
            position: relative;
            cursor: pointer;
            box-shadow: 0px 0px 7px $green;
        }

        &-descr {
            font-size: 22px;
            font-weight: 800;
            position: absolute;
            top: -14px;
            left: 10%;
            display: none;
        }

        &-descr.subtext_right {
            left: -72%;
        }
    }

}

.circle {
    &__minus {
        width: 12px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 9px;
        left: 4px;
    }
    &__plus {
        width: 2px;
        height: 12px;
        background-color: #fff;
        position: absolute;
        top: 4px;
        left: 9px;
    }
    
}
.board__tab.active .circle__plus {
    display: none;
}
.board__tab.active .board__tab-descr {
    display: block;
}
