.subheader {
    display: flex;
    justify-content: space-between;
    
    &__title {
        position: relative;
        min-width: 50%;

        &_titleH2 {
            position: absolute;
            top: 0;
            left: 80px;
        }
        
        &_shadow {
            margin-left: -45px;
            margin-top: 30px;
        }
    }

    &__descr {
        padding-top: 100px;

        &_subtext {
            margin-bottom: 8px;
        }
    }
}