html {
    font-size: 1vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    
}

a {
    text-decoration: none;
    display: inline-block;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 1440px;
}

.titleH2 {
    letter-spacing: .2rem;
    font-size: 4.3rem;
    font-weight: 800;
    text-transform: uppercase;
}

.titleH3 {
    font-size: 2.4rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: .15rem;
    span {
        font-weight: 100;
        opacity: 0.5;
    }
}



.subtext {
    opacity: 0.5;
    font-size: 1.2rem;
    letter-spacing: 7px;
    display: inline-block;
    position: relative;
    text-transform: uppercase;
}

.subtext_left {
    padding-left: 7rem;
    &::before {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: 0.5;
        width: 6.1rem;
        height: .13rem;
        left: 0;
        top: 40%;
        
    }
}

.subtext_right {
    padding-right: 7rem;
    &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        opacity: 0.5;
        width: 6.1rem;
        height: .13rem;
        right: 0;
        top: 40%;
    }
}

.shadow {
    font-size: 10rem;
    font-weight: 800;
    line-height: 0.8;
    opacity: 0.1;
}

// .dot-active {
//     border-top: 4px solid $green;
// }


@media (max-width: 999px) {
    html {
        font-size: 14px;
    }
    .dot-active {
        border: none;
        background-color: $green !important;
        box-shadow: 0 0 8px rgba($green, 0.5);
    }
}


@media (max-width: 786px) {
    .titleH2 {
        font-size: 50px;
    }
    .titleH3 {
        font-size: 27px;
    }
    .shadow {
        font-size: 7rem;
    }
    .subtext {
        font-size: 16px;
        &_left::before {
            top: 35%;
        }
        &_right::before {
            top: 35%;
        }
    }
}

@media (max-width: 576px) {
    .shadow {
        font-size: 5.5rem;
    }
    
}

@media (max-width: 486px) {
    .titleH2 {
        font-size: 42px;
    }
}
